
  /* ---------------------------------
            CONFIGURAÇÕES GERAIS
  -----------------------------------*/
  :root {
    --color-white: rgb(255, 255, 255);
    --color-blue: rgb(13, 118, 167);

    --font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  html, 
  body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    background-color: var(--color-white);
    font-family: var(--font-family);
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.6;
  }
 
  h1 {
    color: var(--color-blue);
    font-weight: 700;
    text-align: center;
  }

  .container {
    min-height: 200vh;
  }

/* ---------------------------------
        SCROLL PROGRESS BAR
  -----------------------------------*/

#scroll__progress {
    position: fixed;
    top: 0;
    width: 0%;
    height: .5em;
    background-color: var(--color-blue);
    z-index: 10000;

}

